@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
  flex-basis: calc(100% - 20px);
  max-width: calc(100% - 20px);
}

header {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  padding: 100px 50px 30px;
}

span {
  font-size: 20px;
  display: flex;
  justify-content: center;
  padding: 15px 0px 15px;
}

.title-container {
  position: relative;
  justify-content: center;
  padding-bottom: 20px;
}

.title-container img,
.title-container h1 {
  margin: 0 0px;
  vertical-align: middle;
  display: inline-block;
}

.title-container img {
  width: 100px;
  height: 100px;
}

.title-container h1 {
  font-size: 100px;
  font-weight: 600;
}

.search {
  display: flex;
  justify-content: center;
}

.search input {
  padding: 10px;
  background-color: #eaf6ff;
  border: none;
  width: 40%;
  font-size: 15px;
  outline: none;
  border-radius: 10px 0 0 10px;
}

.search button {
  padding: 10px 20px;
  background-color: #51c751;
  border: none;
  width: 10%;
  cursor: pointer;
  font-size: 15px;
  color: #fff;
  font-weight: 600;
  border-radius: 0 10px 10px 0;
  transition: all 0.3s ease;
}

.search button:hover {
  background-color: #2be09565;
}

.meal-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  height: 400px;
  margin-top: 5%;
  box-sizing: border-box;
}

.meal-item:hover {
  transform: scale(1.05);
}

.meal-item {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0px;
  box-shadow: 10px 16px 24px rgba(124, 130, 136, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #fcfffc;
  gap: 80px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;
}

.meal-item img {
  width: 280px;
  height: 280px;
  border-radius: 100%;
  margin-left: 10%;
  margin-top: 10px;
  margin-bottom: -60px;
  object-fit: cover;
}

.meal-item h3 {
  text-align: center;
  font-size: 19px;
  font-weight: 600;
  margin-top: -5px;
  word-break: keep-all;
}

.modal-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  max-width: 60%;
  overflow: auto;
  border-radius: 10px;
}

.modal-item {
  width: 280px;
  height: 280px;
  border-radius: 100%;
  margin-left: 10%;
  margin-top: 10px;
  margin-bottom: -60px;
  object-fit: cover;
}

.modal-container .close-button {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
  width: 100%;
  text-align: right;
  margin-bottom: 16px;
  transition: all 0.3s ease;
}

.modal-container .close-button:hover {
  color: #ff5722;
}

.meal-details-content,
.chatbot-content {
  overflow-y: auto;
  height: 70vh;
  max-height: 90vh;
}

@media screen and (width < 980px) {
  .search checklist {
    width: 5%;
  }

  .search input {
    width: 75%;
  }

  .search button {
    width: 20%;
  }
}
@media screen and (width < 540px) {
}
/*챗봇*/
@font-face {
  font-family: "EASTARJET-Medium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/EASTARJET-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #e3f2fd;
}
.chatbot-toggler {
  position: fixed;
  bottom: 30px;
  right: 35px;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #724ae8;
  transition: all 0.2s ease;
}
body.show-chatbot .chatbot-toggler {
  transform: rotate(90deg);
}
.chatbot-toggler span {
  color: #fff;
  position: absolute;
}
.chatbot-toggler span:last-child,
body.show-chatbot .chatbot-toggler span:first-child {
  opacity: 0;
}
body.show-chatbot .chatbot-toggler span:last-child {
  opacity: 1;
}
.chatbot {
  position: fixed;
  right: 35px;
  bottom: 90px;
  width: 420px;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.5);
  transform-origin: bottom right;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease;
}
body.show-chatbot .chatbot {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}
.chatbot header {
  padding: 16px 0;
  position: relative;
  text-align: center;
  color: #fff;
  background: #724ae8;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.chatbot header span {
  position: absolute;
  right: 15px;
  top: 50%;
  display: none;
  cursor: pointer;
  transform: translateY(-50%);
}
header h2 {
  font-size: 2rem;
}
.chatbot .chatbox {
  overflow-y: auto;
  height: 510px;
  padding: 30px 20px 100px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
  width: 6px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 25px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}
.chatbox .chat {
  display: flex;
  list-style: none;
}
.chatbox .outgoing {
  margin: 20px 0;
  justify-content: flex-end;
}
.chatbox .incoming span {
  width: 32px;
  height: 32px;
  color: #fff;
  cursor: default;
  text-align: center;
  line-height: 32px;
  align-self: flex-end;
  background: #724ae8;
  border-radius: 4px;
  margin: 0 10px 7px 0;
}

.chatbox .chat p {
  white-space: pre-wrap;
  padding: 12px 16px;
  border-radius: 10px 10px 0 10px;
  max-width: 75%;
  color: #fff;
  font-size: 0.95rem;
  background: #724ae8;
  font-family: "EASTARJET-Medium";
}
.chatbox .incoming p {
  border-radius: 10px 10px 10px 0;
}
.chatbox .chat p.error {
  color: #721c24;
  background: #f8d7da;
}
.chatbox .incoming p {
  color: #000;
  background: #f2f2f2;
}
.chatbot .chat-input {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 3px 20px;
  border-top: 1px solid #ddd;
  font-family: "EASTARJET-Medium";
}
.chat-input textarea {
  height: 55px;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  max-height: 180px;
  padding: 15px 15px 15px 0;
  font-size: 0.95rem;
}
.chat-input span {
  align-self: flex-end;
  color: #724ae8;
  cursor: pointer;
  height: 55px;
  display: flex;
  align-items: center;
  visibility: hidden;
  font-size: 1.35rem;
}
.chat-input textarea:valid ~ span {
  visibility: visible;
}
